<div id="sidebar">
				<div id="search">
					<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="fa fa-search"></i></button>
				</div>
				<ul>
					<li {$index}><a href="{:U('home/Index/index')}"><i class="fa fa-dashboard"></i> <span>前台首页</span></a></li>
					<li><a href="{:U('admin/Index/index')}" ><i class="fa fa-home"></i> <span>后台首页</span></a></li>
					<li class="submenu {$add}">
						<a href="#"><i class="fa fa-flask"></i> <span>说说管理</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li {$say}><a href="{:U('Admin/Say/add')}">发布说说</a></li>
							<li {$saylist}><a href="{:U('Admin/Say/index')}">说说列表</a></li>
						</ul>
					</li>	
					<li class="submenu {$add}">
						<a href="#"><i class="fa fa-flask"></i> <span>文章管理</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
						<li {$article}><a href="{:U('Admin/Article/add')}">发布文章</a></li>
						<li {$articlelist}><a href="{:U('Admin/Article/index')}">文章列表</a></li>
						</ul>
					</li>	
					
					<li class="submenu {$content}">
						<a href="#"><i class="fa fa-comment"></i> <span>互动管理</span><i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li {$saycontent}><a href="{:U('Admin/Say/sayContentList')}">说说评论</a></li>
							<li {$articlecontent}><a href="{:U('Admin/Article/articleContentList')}">文章评论</a></li>
							<li {$gustcontent}><a href="{:U('Admin/Gust/index')}">留言评论</a></li>
							<li {$albumcontent}><a href="{:U('Admin/Album/albumContentList')}">相册评论</a></li>
						</ul>
					</li>
					<eq name="Think.session.class" value="1">
					<li class="submenu {$user}">
						<a href="#"><i class="fa fa-user-md"></i> <span>用户管理</span><i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li {$useradd}><a href="{:U('Admin/User/userAdd')}">新增用户</a></li>
							<li {$userlist}><a href="{:U('Admin/User/userList')}">用户列表</a></li>
						</ul>
					</li>
					</eq>
					<li class="submenu {$tag}">
						<a href="#"><i class="fa fa-tags"></i> <span>栏目设置</span><i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li {$tagadd}><a href="{:U('Admin/Tag/add')}">添加分类</a></li>
							<li {$taglist}><a href="{:U('Admin/Tag/index')}">栏目列表</a></li>
						</ul>
					</li>
					<li class="submenu {$link}">
						<a href="#"><i class="fa fa-link"></i> <span>链接设置</span><i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li {$linkadd}><a href="{:U('Admin/Link/index')}">新增链接</a></li>
							<li {$linklist}><a href="{:U('Admin/Link/linkList')}">链接列表</a></li>
						</ul>
					</li>

					<li class="submenu {$album}">
						<a href="#"><i class="fa fa-folder-open"></i> <span>相册管理</span><i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li {$albumadd}><a href="{:U('Admin/Album/add')}">新增相册</a></li>
							<li {$albumlist}><a href="{:U('Admin/Album/index')}">相册列表</a></li>
						</ul>
					</li>

					<li class="submenu {$picture}">
						<a href="#"><i class="fa fa-picture-o"></i> <span>图片管理</span><i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li {$pictureadd}><a href="{:U('Admin/Picture/add')}">新增图片</a></li>
							<li {$picturelist}><a href="{:U('Admin/Picture/index')}">图片列表</a></li>
						</ul>
					</li>
					<!-- <li class="submenu {$add}">
						<a href="#"><i class="fa fa-flask"></i> <span>版本管理</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
						<li {$article}><a href="{:U('Admin/Version/index')}">发布版本</a></li>
						<li {$versionlist}><a href="{:U('Admin/Version/versionList')}">版本列表</a></li>
						</ul>
					</li> -->
					<li class="submenu {$system}">
						<a href="#"><i class="fa fa-windows"></i> <span>系统设置</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li {$systembasic}><a href="{:U('Admin/System/index')}">基本设置</a></li>
							<!--<li {$systemone}><a onclick="alert('单页设置开发中')">单页设置</a></li>-->
							<!-- <li {$systememail}><a href="{:U('Admin/System/email')}">邮件设置</a></li>
							<li {$systemppt}><a href="{:U('Admin/System/ppt')}">幻灯设置</a></li> -->
							<!--<li><a href="#" onclick="alert('高级功能开发中')">高级设置</a></li>-->
						</ul>
					</li>
				</ul>
			</div>
