<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>分类 - {$Think.config.NAME}</title>
    <meta name="keywords" content="{$keyword}" />
	<meta name="keywords" content="{$system.keyword}" />
	<meta name="description" content="{$system.remark}" />
	<meta name="version" content="{$Think.config.NAME} v{$version}" />
	<meta name="author" content="{$system.author}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <include file="Public:nav"/>
      	<div class="row aerousel">
      		<ol class="breadcrumb">
		  	<li><a href="index.html">网站首页</a></li>
		  	<li class="active">分类</li>
		  	
			</ol>
			<div class="col-md-8 row-l">

			<volist name="article" id="vo" empty="暂时没有文章">	
			<article>
				<h5>
					<eq name="vo.a_original" value="1">
						<span class="original">【原创】</span>
					<else />
						<span class="reprint">【转载】</span>
					</eq>
					<a href="{:U('article/index','id='.$vo['a_id'])}">{$v.a_title}</a>
					<eq name="vo.a_view" value="2">
						<img  class="title_r hidden-xs" src="__IMG__/icon/tuijian.gif"/>
					</eq>
				</h5>
				<div class="clearfix" >           
						<ul>
							<p> 
							<span class="glyphicon glyphicon-time"></span></a>&nbsp;{$vo.a_time|getTime}&nbsp;&nbsp;作者：{$vo.a_author}&nbsp;&nbsp;分类：[&nbsp;{$vo.t_name}&nbsp;]<span class="hidden-xs">&nbsp;&nbsp;浏览：&nbsp;&nbsp;</span>
							</p>
							<a class="article-img-a image-light" href="{:U('/article/index','id='.$vo['a_id'])}"><img src="/{$vo.a_img}" class="article-img" alt="{$vo.a_title}" title="{$vo.a_title}" /></a>
							<p>
							{$vo.a_remark|htmlspecialchars_decode|msubstr=0,150,'utf-8',true}... <a href="{:U('/article/index','id='.$vo['a_id'])}" target="_blank" class="readmore" on>阅读全文</a>
							</p>
        				</ul>
						<footer class="article-footer">
							<div class="article-footer-l">
								<p><span class="glyphicon glyphicon-tags blog-icon"></span>{$vo.a_keyword|getKeyword}</p>
							</div>
						</footer>
					</div>


		</article>
		</volist>
		
		</div>	
    <include file="Public:sidebar"/>
    <include file="Public:footer"/>
</body>
</html>