<div class="input-group home-from-box">
    <span class="input-group-addon" id="basic-addon1">昵称</span>
    <input type="text" class="form-control" placeholder="昵称" aria-describedby="basic-addon1" name="g_name"  id="name">
  	<input type="hidden" name="p_id" value="0" id="pid"> 
  	<input type="hidden"  name="ac_pid"    value="{$data.a_id}"  id="aid" />
	<span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
</div>
<div class="form-group home-from-box text">
    <textarea class="form-control" id="content" name="g_content" rows="3" placeholder="请输入评论内容" rows="7"></textarea>
</div> 

