<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>首页 - 个人博客</title>
	<include file="Public:nav"/>
	 <div class="container hidden-xs ppt">
		            <div id="ppt-main" class="nivoSlider">
		                <a href="{$ppt.0.pp_url}" target="_blank"><img src="{$ppt.0.pp_img}" alt=""  title="{$ppt.0.pp_note} " /></a>   
		               <a href="{$ppt.1.pp_url}" target="_blank"><img src="{$ppt.1.pp_img}" alt=""  title="{$ppt.1.pp_note} " /></a>
    					<a href="{$ppt.2.pp_url}" target="_blank"><img src="{$ppt.2.pp_img}" alt=""  title="{$ppt.2.pp_note} " /></a>
		            </div>
		</div> 
		<div class="row aerousel">
			<div class="col-md-8 row-l index">
				<div class="alert alert-success alert-dismissible" role="alert">
					&nbsp;&nbsp;{$Think.config.WELCOME}
				</div>
			<volist name="articles" id="vo" empty="暂时没有文章">	
				<article> 
				<h5>
					<eq name="vo.a_original" value="1">
						<span class="original">【原创】</span>
					<else />
						<span class="reprint">【转载】</span>
					</eq>
					<a href="{:U('article/index','id='.$vo['a_id'])}">{$vo.a_title}</a>
					<eq name="v.a_view" value="2">
						<img  class="title_r hidden-xs" src="__IMG__/icon/tuijian.gif"/>
					</eq>
				</h5>
				<div class="clearfix" >           
						<ul>
							<p> 
							<span class="glyphicon glyphicon-time"></span></a>&nbsp;{$vo.a_time|getTime}&nbsp;&nbsp;作者：{$vo.a_author}&nbsp;&nbsp;分类：[&nbsp;{$vo.t_name}&nbsp;]<span class="hidden-xs">&nbsp;&nbsp;浏览：&nbsp;&nbsp;</span>
							</p>
						
								<a class="article-img-a image-light" href="{:U('article/index','id='.$vo['a_id'])}" style=""><img src="/{$vo.a_img}" class="article-img" alt="{$vo.a_title}" title="{$vo.a_title}" style="width:170px;height:137px;display: block;"></a>
						
							<p>
							{$vo.a_remark|htmlspecialchars_decode|msubstr=0,150,'utf-8',true} <a href="{:U('article/index',
							'id='.$vo['a_id'])}" target="_blank" class="readmore" on>[阅读全文]</a>
							</p>
        				</ul>
						<footer class="article-footer">
							<div class="article-footer-l">
								<p><span class="glyphicon glyphicon-tags blog-icon"></span>{$vo.a_keyword|getKeyword}</p>
							</div>
						</footer>
					</div>
		 </article> 
		</volist>
		</div>	
	<include file="Public:sidebar"/>
	<include file="Public:footer"/>
	<script src="__JS__/jquery.nivo.slider.pack.js"></script>

	<script type="text/javascript">
            $(function() {
                $('#ppt-main').nivoSlider({
	                //effect: 'random', // 过渡效果  
				    slices: 15, //effect为切片效果时的数量  
				    boxCols: 8, //effect为格子效果时的列  
				    boxRows: 4, //effect为格子效果时的行  
				    animSpeed: 500, //动画速度  
				    pauseTime: 3000, //图片切换速度  
				    startSlide: 0, //从第几张开始  
				    directionNav: true, //是否显示图片切换按钮(上/下页)  
				    directionNavHide: true, //是否鼠标经过才显示  
				    controlNav: false, // 显示序列导航  
				    controlNavThumbs: false, // 显示图片导航  
				    //keyboardNav: true, // 键盘控制（左右箭头）
                });
            });

           /*$('.btn').click(function (){
              var key=$("#key").val();
             
             $.ajax({
              	 url:"{:U('class/search')}",
              	 type:'post',
              	 data:{key:key},
              	 datatype:'json',
              	 success:function (msg){
              	 	if(msg.status==1){
              	 		layer.msg(msg.msg);
              	 	}else{
              	 		layer.msg(msg.msg);
              	 	}
              	 }

              });
           });*/


        </script>
</body>
</html>