<include file="Public:header"/>		
<include file="Public:sidebar"/>		
<div id="content">
	<div id="breadcrumb">
		<a href="index.html" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> 首页</a>
		<a href="#">图片编辑</a>
		<a href="#" class="current">编辑图片</a>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="fa fa-flask"></i>									
						</span>
					
						<h5>编辑图片</h5>
					
					</div>
					<div class="widget-content nopadding">
						<form  action=""  method="post" class="form-horizontal"  enctype="multipart/form-data">
							
							<div class="form-group">
								<label class="col-sm-3 col-md-3 col-lg-1 control-label">相册</label>
								<div class="col-sm-9 col-md-9 col-lg-10">
									<select name="p_pid">
										<option value="0"></option>
										<volist name="album" id="vo">
										<option value="{$vo.al_id}" <eq name="data.p_pid" value="$vo.al_id">selected="selected"</eq> >{$vo.al_name}</option>
										</volist>
									</select>
								</div>
							</div>
					<div class="form-group">
				<label class="col-sm-3 col-md-3 col-lg-1 control-label">相册图片</label>
					<div class="col-sm-9 col-md-9 col-lg-10">
					<div class="imageBox">
							<div class="thumbBox"></div>
					<div class="spinner" style="display: none">Loading...</div>
									</div>
																		             
						<input type="file" name="p_img" />
							</div>
						</div>  
                            
							
							<div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">添加时间</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    	<input type="text" value="{$data.p_time|date='Y-m-d H:i:s',###}" class="form-control input-sm" id="time" name="p_time" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
								<label class="col-sm-3 col-md-3 col-lg-1 control-label">显示</label>
								<div class="col-sm-9 col-md-9 col-lg-10">
									<label><input type="radio" name="p_view" value="0" <eq name="data.p_view" value="0">checked="checked"</eq> /> Not show</label>
									<label><input type="radio" name="p_view" value="1" <eq name="data.p_view" value="1">checked="checked"</eq> /> Show</label>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 col-md-3 col-lg-1 control-label">描述</label>
								<div class="col-sm-9 col-md-9 col-lg-10">
									<textarea rows="3" class="form-control" name="p_remark">{$data.p_remark}</textarea>
								</div>
							</div>
                            
                            <div class="form-group">
                            <label class="col-sm-3 col-md-3 col-lg-1 control-label">添加人</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    	<input type="text" value="{$data.p_root}" class="form-control input-sm" name="p_root" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">IP</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    	<input type="text" value="{:get_client_ip()}" class="form-control input-sm" name="p_ip" />
                                    </div>
                                </div>
                            </div>
                           
                            
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">来自</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    	<input type="text" value="{:getOs()}" class="form-control input-sm" name="p_from" />
                                    </div>
                                </div>
                            </div> 
                            
							<div class="form-actions">
								
							
							 <input type="submit" class="btn btn-success btn-sm" id="addsay" value="存入数据库">    
					
								<button type="button" class="btn btn-danger btn-sm">取消</button>
							</div>
							<input type="hidden" name="p_id" value="{$data.p_id}"> 
						</form>
					</div>
				</div>						
			</div>
		</div>
	</div>
</div>

<include file="Public:footer"/> 
<script type="text/javascript" src="__laydate__/laydate.js"></script>
<script type="text/javascript" src="__JS__/jquery.form.js"></script>
<script type="text/javascript" src="__layer__/layer.js"></script>
<script>
$('select').select2();
	laydate.render({
	  elem:"#time",
	  type:'datetime'
	});

$('form').submit(function (){

 $(this).ajaxSubmit({

    url:"{:U('edit')}",
    type:'post',
    datatype:'json',
    success:function (msg){
    	if(msg.status==1){
    		layer.msg(msg.msg);
    		/*location.href="{:U('index')}";*/
    	}else{
    		layer.msg(msg.msg);
    	}
    }
 });
return false;
});








</script>
</body>
</html>
