<include file="Public:header"/>				
<include file="Public:sidebar"/>				
<div id="content">
	<div id="content-header">
		<h1>文章列表</h1>
		<div class="btn-group">
			<a href="{:U('Admin/Article/index')}" class="btn btn-large" title="发表文章"><i class="fa fa-file"></i></a>
			<a class="btn btn-large" title="文章评论"><i class="fa fa-comment"></i></a>
		</div>
	</div>
	<div id="breadcrumb">
		<a href="#" title="回到首页" class="tip-bottom"><i class="fa fa-home"></i> 首页</a>
		<a href="#" class="current">文章列表</a>
	</div>
	<div class="row">
		<div class="col-xs-12">	
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon">
						<i class="fa fa-th"></i>
					</span>
					<h5>文章列表</h5>
					<span class="label label-info">{$count} 条 </span>
				</div>
				<div class="widget-content">
					<table class="table table-bordered table-striped table-hover with-check">
						<thead>
							<tr>
								<th width="5%">文章编号</th>
								<th width="25%">标题</th>
								<th width="30%">文章描述</th>
								<th width="15%">发表时间</th>
								<th width="15%">是否显示</th>
								<th width="20%">操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name="data.data" id="vo">
							<tr align="center">
								<td class="id">{$vo.a_id}</td>
								<td>{$vo.a_title}</td>
								<td>{$vo.a_remark|htmlspecialchars_decode|msubstr=0,20,'utf-8',true}</td>
								<td>{$vo.a_time|date="Y-m-d H:i:s",###}</td>
								<td>

									<if condition="$vo.a_view eq 0">
								<span class=" btn-dark-red btn-xs">不显示</span>
								<elseif condition="$vo.a_view eq 1"/>
								<span class=" btn-dark-green btn-xs">显示</span>
								<else/>
								<span class=" btn-dark-green btn-xs">显示并推荐</span>		</if>							
								</td>
								<td>
									<a class="btn btn-success btn-sm" href="{:U('edit','id='.$vo['a_id'])}">编辑</a>&nbsp;&nbsp;
									<input type="button" class="btn btn-danger btn-sm delart" onclick="return confirm('确定要删除吗?')" data-img-id="{$vo.a_id}" value="删除">
								</td>
							</tr>
							</volist>	
						</tbody>
					</table>
					{$data.show}
				</div>
			</div>
		</div>
	</div>
</div>	
<include file="Public:footer"/>
<script type="text/javascript" src="__layer__/layer.js"></script>
<script>
				$('.delart').click(function (){
				var dele_id=$(this).attr('data-img-id');
				var hang=$(this).parent().parent();
				$.ajax({
					url:"{:U('del')}",
					type:'post',
					datatype:'json',
					data:{dele_id:dele_id},
					success:function (msg){
						if(msg.status==1){
							layer.msg(msg.msg);
							hang.remove();
						}else{
							layer.msg(msg.msg);
						}
					}
				});

				});


</script>
</body>
</html>
