<include file="Public:header"/>			
<include file="Public:sidebar"/>			
<div id="content">
	<div id="breadcrumb">
		<a href="index.html" title="回到首页" class="tip-bottom"><i class="fa fa-home"></i> 首页</a>
		<a href="#">编辑管理</a>
	
			<a href="#" class="current">编辑相册</a>
			
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="fa fa-folder-open"></i>									
						</span>
					
							<h5>编辑相册</h5>
					
					</div>
					<div class="widget-content nopadding">
						<form method="post" class="form-horizontal" action="" enctype="multipart/form-data">
							
							<div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">相册名</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-file"></i></span>
                                    	<input type="text" class="form-control input-sm" placeholder="相册名字" name="al_name" value="{$data.al_name}"/>
                                    </div>
                                </div>
                            </div>
                                                   
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">封面</label>
								<div class="col-sm-9 col-md-9 col-lg-10">
					                <div class="imageBox">
					                    <div class="thumbBox"></div>
					                    <div class="spinner" style="display: none">Loading...</div>
					                </div>
					             
									<input type="file" name="al_img" />
								</div>
                            </div>
							
							<div class="form-group">
								<label class="col-sm-3 col-md-3 col-lg-1 control-label">描述</label>
								<div class="col-sm-9 col-md-9 col-lg-10">
									<textarea rows="5" class="form-control" name="al_remark">{$data.al_remark}</textarea>
								</div>
							</div>
							
							<div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">添加时间</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="row">
                                		<div class="col-md-6">


                                    		<input type="text" value="{$data.al_time|date='Y-m-d H:i:s',###}" class="form-control input-sm" name="al_time"  id="time" />
                                    	</div>
                                    </div>
                                </div>
                            </div>
                            
							<div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">点击量</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    	<input type="text" value="{$Think.config.HIT}" class="form-control input-sm" name="al_hit"/>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">来自</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    	<input type="text" value="{:getOs()}"class="form-control input-sm" name="al_from"/>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">IP</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    	<input type="text" value="{:get_client_ip()}" class="form-control input-sm" name="al_ip"/>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">添加人</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    	<input type="text" value="{$data.al_root}" class="form-control input-sm" name="al_root"/>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
								<label class="col-sm-3 col-md-3 col-lg-1 control-label">显示</label>
								<div class="col-sm-9 col-md-9 col-lg-10">
									<label><input type="radio" name="al_view" value="1" <eq name="data.al_view" value="1">checked="checked"</eq>/> Yes</label>
									<label><input type="radio" name="al_view" value="0" <eq name="data.al_view" value="0">checked="checked"</eq>/> No</label>
								</div>
							</div>
							
							<div class="form-actions">
								
								<input type="submit" class="btn btn-success btn-sm" id="addAl" value="存入数据库">							
								<button type="button" class="btn btn-danger btn-sm">取消</button>
							</div>
						<input type="hidden" name="al_id" value="{$data.al_id}">
						</form>
					</div>
				</div>						
			</div>
		</div>
	</div>
</div>
<include file="Public:footer"/> 
<script type="text/javascript" src="__laydate__/laydate.js"></script>
 <script type="text/javascript" src="__JS__/jquery.form.js"></script>
<script type="text/javascript" src="__layer__/layer.js"></script> 
 <script>
 laydate.render({
 	elem:'#time',
 	type:'datetime'
 });

/*$('form').submit(function (){
 $(this).ajaxSubmit({	
 		url:"{:U('edit')}",
		type:'post',
		datatype:'json',
		success:function (msg){
			if(msg.status==1){
			layer.msg(msg.msg);
			location.href="{:U('index')}";
			}else{
			layer.msg(msg.msg);
			}
		}
	});
 return false;
});

*/










</script>
</body>
</html>
